{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block body %}




    <!-- Buttons to select a Pomodoro, short break, or long break -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-12 col-md-8 d-flex justify-content-center">
                <div class="card p-3 p-md-5 mt-4">
                    <div class="d-flex justify-content-center">
                       
                            <button type="button" id="pomodoroModeButton"  value="{{ user.userprofile.task_length }}">Pomodoro</button>
                            <button type="button" id="shortBreakModeButton"  value="{{ user.userprofile.short_rest_length }}">Short Break
                            </button>
                            <button type="button" id="longBreakModeButton" value="{{ user.userprofile.long_rest_length }}">Long Break
                            </button>
                        
                        
                    </div>
                    <br>
                    <!-- Timer display -->
                    <div id="timer" class="d-flex justify-content-center">
                        <span id="minsValue">00</span><span>:</span><span id="secsValue">00</span>
                    </div>
                    <br>
                    <!-- Buttons to Play, Pause, and Reset the timer -->
                    <div class="d-flex justify-content-center">
                        {% if user.username %}
                        <button type="button" id="startButton">Start</button>
                        {% else %}
                        <button type="button" id="startButton">Start*</button>
                        {% endif %}
                        
                        <button type="button" id="pauseButton">Pause</button>
                        <button type="button" id="resetButton">Reset</button>
                    </div>
                    <br>
                
                    
                    <div>
                        {% if user.username %}
                        Session: <span id="userSessionName">{{ userSessionName }} </span><a href="{% url 'editUserSession' %}"><i class="fas fa-edit"></i></a>
                        {% endif %}
                    </div>
                    <div>
                        {% if user.username %}
                        Task: <span id="taskName">{{ taskName }}</span> <a href="{% url 'editTask' %}"><i class="fas fa-edit"></i></a>
                        {% endif %}
                    </div>
                    <div>
                        {% if user.username %}
                        Task Category: 
                        <select name="taskCategory" id="taskCategory">
                            <option value="general">General</option>
                            <option value="homework">Homework</option>
                            <option value="studying">Studying</option>
                            <option value="work">Work</option>
                        </select>
                        {% endif %}
                    </div>
                    <div id="userSessionDescription">
                        {% if user.username %}
                            Session Description: <a href="{% url 'editSessionDescription' %}"><i class="fas fa-edit"></i></a> <br>
                            {% if description %}
                                <textarea class="form-control" style="height:100%;" readonly id="description" >{{ description }}</textarea> 
                            {% endif %}
                        {% endif %}
                    </div>
                </div>               
            </div>
            
            <div class="col-md-2">

            </div>

        </div>
        <div id="login-prompt" class="d-flex justify-content-center p-2">
            {% if not user.username %}
                *Login to keep track of your score, sessions, and tasks.*
            {% endif %}
        </div>
    </div>

    <!-- popup modals -->

    <div id="finished-task-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header-success modal-header">
              <h5 class="modal-title">Congratulations!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="finished-task-modal-text">This is a modal message that will appear.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
            </div>
          </div>
        </div>
      </div>


    <div id="shortBreakModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header-warning modal-header">
              <h5 class="modal-title">Warning!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="short-break-modal-text">This is a modal message that will appear.</p>
            </div>
            <div class="modal-footer">
              <button onclick="confirmShortBreak()" type="button" class="btn modal-btn">Take a Break</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Return to Task</button>
            </div>
          </div>
        </div>
      </div>
  
      <div id="longBreakModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header-warning modal-header">
              <h5 class="modal-title">Warning!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="long-break-modal-text">This is another modal message that will appear</p>
            </div>
            <div class="modal-footer">
              <button onclick="confirmLongBreak()" type="button" class="btn modal-btn ">Take a Break</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Return to Task</button>
            </div>
          </div>
        </div>
      </div>
    


    {% load static %}
    <script src="{% static '/js/timer.js' %}" type="text/javascript"></script>
    {% endblock %}