{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html>

<head>
    <title>Pomodoro Posse</title>
    <link rel="shortcut icon" type="image/png" href="{% static '../static/images/favicon.ico' %}" />
    <script src="https://kit.fontawesome.com/cd776babcb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light align-items-center">
        <image id="nav-tomato" src="{% static '../static/images/tomatoheader.png' %}"></image>
        <a class="navbar-brand" href="/">Pomodoro Posse</a>
        {% if user.username %}
        <ul class="navbar-nav justify-content-start align-items-center ">
            <li class="nav-item">
                <a class="left-nav-menu" href="{% url 'index' %}">Timer</a>
            </li>
            <li class="nav-item">
                <a class="left-nav-menu" href="{% url 'sessions' %}">Sessions</a>
            </li>
            <li class="nav-item">
                <a class="left-nav-menu" href="{% url 'tasks' %}">Tasks</a>
            </li>
        </ul>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav  ">
                
                {% if user.username %}
                <div class="dropdown" style="float:right;">
                    <span id="score_span">{{ user.userprofile.score }} </span> pts
                    <i class="dropbtn fas fa-user-circle"></i>
                    <div class="dropdown-content">
                        <span>Signed in as <strong>{{ user.username }}</strong></span>
                      <a href="/profile">Your Profile</a>
                      <a href="/logout">Logout</a>
                      
                    </div>
                </div>
                
                <!-- <div class="dropdown" style="float:right;">
                    <a class="dropbtn" href="/profile"><i class="fas fa-user-circle"></i></a>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div> -->

                {% else %}
                <li class="nav-item px-2">
                    <a href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item px-2">
                    <a href="{% url 'createaccount' %}">Create Account</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

   
    {% block body %}

    <p>Missing Body</p>

    {% endblock %}
</body>

</html>