{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">

<head >
    <title>Pomodoro Posse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static '../static/images/favicon.ico' %}"/>
    <script src="https://kit.fontawesome.com/cd776babcb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    
</head>

<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light align-items-center">
    <a href="{% url 'index' %}"><img id="nav-tomato" src="{% static '../static/images/tomatoheader.png' %}" alt="tomato"></a>
    <a class="navbar-brand" href="{% url 'index' %}">Pomodoro Posse</a>
    {% if user.username %}
    <div class="nav-left-menu-links">
        <ul class="navbar-nav justify-content-start align-items-center ">
            <li class="nav-item ">
                <a class="left-nav-menu {% if request.resolver_match.url_name == "index" %}active{% endif %}" href="{% url 'index' %}">Timer</a>
            </li>
            <li class="nav-item">
                <a class="left-nav-menu {% if request.resolver_match.url_name == "sessions" %}active{% endif %}" href="{% url 'sessions' %}">Sessions</a>
            </li>
            <li class="nav-item">
                <a class="left-nav-menu  {% if request.resolver_match.url_name == "tasks" %}active{% endif %}" href="{% url 'tasks' %}">Tasks</a>
            </li>
        </ul>
    </div>
    {% endif %}
    {% if user.username %}
    <div class="collapse navbar-collapse-logged-in d-flex justify-content-end">
    {% else %}  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    {% endif %} 
        <ul class="navbar-nav  ">

            {% if user.username %}
                <div class="dropdown" style="float:right;">
                    <div class='d-flex align-items-center'>
                        <span id="score_span">{{ user.userprofile.score }} </span>&nbsppts
                        <i class="dropbtn fas fa-user-circle"></i>
                    </div>
                    
                    <div class="dropdown-content">
                        <span>Signed in as <strong>{{ user.username }}</strong></span>
                        <a href="{% url 'profile' %}">Your Profile</a>
                        <a class="profile-menu-links" href="{% url 'sessions' %}">Sessions</a>
                        <a class="profile-menu-links" href="{% url 'tasks' %}">Tasks</a>
                        <a href="{% url 'logout' %}">Logout</a>

                    </div>
                </div>
                {% else %}
                <li class="nav-item px-2 pt-3 pb-2 pt-sm-1 pb-sm-1">
                    <a href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item px-2 sm-2 py-sm-1">
                    <a href="{% url 'createaccount' %}">Create Account</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


{% block body %}

    <p>Missing Body</p>

{% endblock %}
</body>

</html>